* {box-sizing: border-box}
.body{
  background: #d3d4cc;
  margin-top: 30px;
  margin-right: 50px;
  margin-left:50px;
  margin-bottom: 50px;
} 
.sub{
  border: 3px dashed white;
  width: 95px;
  height: 45px;
  border-radius: 80px;
  color:

}
img.bala{
  animation: crescendo 1.5s alternate infinite ease-in;
}
@keyframes crescendo {
  0%   {transform: scale(0.8);}
  100% {transform: scale(1);}
}
.other{
  position: absolute;top: 320px; left: 350px;
}
.othertwo{
  position: absolute;top: 610px; left: 230px;
}
.otherthree{
  position: absolute;top: 700px; left: 1500px;
}
.otherfour{
  position: absolute;top: 300px; left: 1399px;
}
.videooo{
  border: 6px dashed white;
  border-radius: 55px;
}
.videoooo{
  border: 6px dashed white;
  border-radius: 42px;
}
.videow{
  position: absolute;top: 480px;left: 1000px;
}
.videoww{
  position: absolute;top: 1220px;left: 1000px;
}
.chousocial{
  position: absolute;left:870px;top: 250px;
}
.xinsocial{
  position: absolute;left:120px;top:900px;
}
.yizhen{
  position: absolute;left:880px;top:1580px;
}
.annru{
  position: absolute;left:120px;top:2200px;
}
.ab{
  position: relative;
}

.abc{ 
  width: 500px;
  height: 900px;
  position: relative;top:20px;left: 120px;
  width: 1500px;
}
.pp{
  text-align: right;
  width: 700px;
}
img.hh{

  animation: frigh 1s infinite step-start;
}
@keyframes frigh {
  0%{transform:rotate(0deg); }
  25%{transform:rotate(2deg);}
  75%{transform:rotate(-2deg);}
  100%{transform:rotate(0deg);}
}
img.ho{

  animation: frigh 1s infinite step-start;
}
@keyframes frigh {
  0%{transform:rotate(0deg); }
  25%{transform:rotate(-3deg);}
  75%{transform:rotate(0deg);}
  100%{transform:rotate(3deg);}
}
/*ＣＯＮＴＡＣＴ*/
.ti{
  margin-left: 130px;
  margin-bottom: 10px;
}
.sub{
  margin-left: 200px;

}
.in{
  padding-top: 10px;
  padding-left: 130px;
  width: 700px;
  height: 600px;
  background: rgb(236, 236, 233,0.6);
  border-radius:10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"]{
  background:#FAFAEB;
  padding:5px 15px; border:2px black solid;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
input[type="mail"]{
  background:#FAFAEB;
  padding:5px 15px; border:2px black solid;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
textarea {
  margin-left: 29px;
  background:#FAFAEB;
  padding:5px 15px; border:2px black solid;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
/**/



/*四格圖片的css*/
.view img { 
  transition: all 0.2s linear;
  position: relative;
}
.view .mask {
  position: absolute;top: 0;left: 0;
  opacity: 0;
  background-color: rgb(236, 236, 234,0.7);
  transition: all 0.4s ease-in-out;
  width: 203px;
  height: 236px;
}
.view h2 {
  color: while;
  font-weight: bold;
  margin-top: 30px;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view p { 

  transform: translateY(00px);
  opacity: 0;
  transition: all 0.2s linear;
}
.view a.info{
  font-family: Comic Sans MS;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view:hover img { 
  transform: scale(1.1);
} 
.view:hover .mask { 
  margin-top: 32px;
  position: absolute;
  opacity: 1;

}
.view:hover h2,
.view:hover p,
.view:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view:hover p {
  margin-top: 20px;
  transition-delay: 0.1s;
}
.view:hover a.info {
  margin-top: 40px;
  transition-delay: 0.2s;
}
/*四格css結束*/

/* tab links */
.tablink {
  background-color: #c5b8a5;
  font-weight: bold;
  font-family: Comic Sans MS;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
}
.tablink:hover {
  background-color: #bfbfbf;
}
/*  tab content  */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
/*tab style END*/

/*title*/
div.head{
  margin-bottom: 20px;
  margin-left: 45px;
}
/*people*/
div.people{
  position: absolute;left: 870px;top: 25px;
}
div.peopletwo{
  position: absolute;left: 1030px;top: 23px;
}
div.peoplethree{
  position: absolute;left: 1210px;top: 0.5px;
}
div.peoplefour{
  position: absolute;left: 1400px;top: 0.5px;
}
/*輪播style*/
div.bodyhome{
  margin-top: 55px;
  margin-bottom: 20px;
  margin-left: 50px;
  width: 850px;

}
/*footer style*/
div.footer{
  margin-top:  20px;
  border: 2px #a29988 dashed;
}
div.video{
  border: 3px #a29988 dashed;
  padding-top: 38px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
}
div.action{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-radius: 80px;
  background: #c1cbd7;
  border: 8px solid #9ca8b8;
  width: 270px;
  height: 80px;
  animation: fright 1s infinite alternate;
}
@keyframes fright {
  from {
    transform: scale(1,0.9);
  }
  to {
    transform: scale(1,1.1);
  }
}
div.end{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 80px;
  background: #e0cdcf;
  border: 8px solid #a27e7e;
  width: 290px;
  height: 80px;
  animation: fright 1s infinite alternate;
}
@keyframes fright {
  from {
    transform: scale(1,0.9);
  }
  to {
    transform: scale(1,1.1);
  }
}

table.tu{
  position: absolute;left: 1190px; top: 280px;
  margin-top: 50px;
  width: 600px;
  height: 600px;
}
td.tuu{
  width: 80px;
  height:100px;
}
img.borderr{
  border: 8px solid white;
}
.word{
  color: white; 
  background: rgb(0, 61, 122,0.5); 
  margin-top: 30px;
}
.click{
  font-family: Comic Sans MS; 
  color: white; 
  background: rgb(161, 125, 125,0.7); 
  font-size: 25px;
}


.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}


#Home {background-color: #e0e5df;}
#Video {background-color: #e0e5df;}
#Contact {background-color: #e0e5df;}
#About {background-color: #e0e5df;}



