
.body{
  background: #d3d4cc;
  margin-top: 30px;
  margin-right: 50px;
  margin-left:50px;
  margin-bottom: 50px;
}

/*title*/
div.head{
  margin-bottom: 20px;
  margin-left: 45px;
}

.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}


/*footer style*/
